
mews-middleware/.gradle/8.0/checksums/checksums.lock
mews-middleware/.gradle/8.0/dependencies-accessors/dependencies-accessors.lock
mews-middleware/.gradle/8.0/executionHistory/executionHistory.bin
mews-middleware/.gradle/8.0/executionHistory/executionHistory.lock
mews-middleware/.gradle/8.0/fileHashes/fileHashes.bin
mews-middleware/.gradle/8.0/fileHashes/fileHashes.lock
mews-middleware/.gradle/8.0/fileHashes/resourceHashesCache.bin
mews-middleware/.gradle/buildOutputCleanup/buildOutputCleanup.lock
mews-middleware/.gradle/buildOutputCleanup/outputFiles.bin
mews-middleware/.idea/aws.xml
mews-middleware/.idea/misc.xml
mews-middleware/.idea/uiDesigner.xml
mews-middleware/derby.log
