<appender name="cloudwatch" class="com.amazonaws.services.logs.logback.CloudWatchAppender">
    <logGroupName>mewslogs</logGroupName>
    <logStreamName>i-0d0e56315d7a32bce</logStreamName>
    <layout>
        <pattern>%date{ISO8601} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </layout>
    <credentialsProvider>
        <static>
            <accessKey>AKIA5CHQLX4WD3OXE4UW</accessKey>
        </static>
    </credentialsProvider>
</appender>
